<!doctype html>
<html>
<head>
  <title>Members</title>
  <link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <!-- /* Bootstrap documentation nav Bar */ -->
  <div class="container">
      <header class="row">
          <p>Oconee County Fire Rescue</p>
      </header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">OCFR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="members.html">Members</a>
          <a class="nav-item nav-link" href="certification.html">Certification</a>
          <a class="nav-item nav-link" href="reports.html">Reports</a>

        </div>
      </div>
    </nav>
      <main class="row">


      <div class="container">
          <div class="row">
            <div id="mainContent" class="col-md">
              <div id="memberRecordsApp">

                <form @submit.prevent="handleSubmit">
                  <div class="form-group row">
                    <label for="inputfirstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputfirstName" placeholder="First Name" v-model="recordmember.firstName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputlastName" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputlastName" placeholder="Last Name" v-model="recordmember.lastName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputdob" class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="inputdob" placeholder="2001-12-13" v-model="recordmember.dob">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputgender" class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputgender" placeholder="M/F" v-model="recordmember.gender">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputradioNumber" class="col-sm-2 col-form-label">Radio Number</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputradioNumber" placeholder="Certification Agency" v-model="recordmember.radioNumber">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="inputstationNumber" class="col-sm-2 col-form-label">Station Number</label>
                    <div class="col-sm-10">
                      <input type="Integer" class="form-control" id="inputstationNumber" placeholder="1234" v-model="recordmember.stationNumber">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="inputemail" class="col-sm-2 col-form-label">Email ID</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputemail" placeholder="abc@gmail.com" v-model="recordmember.email">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputposition" class="col-sm-2 col-form-label">position</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputposition" placeholder="Marshall" v-model="recordmember.position">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="inputphoneNumber" class="col-sm-2 col-form-label">phoneNumber</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputphoneNumber" placeholder="812-123-4664" v-model="recordmember.phoneNumber">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputaddress" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputaddress" placeholder="3000 Fountain Park" v-model="recordmember.address">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="inputstartDate" class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="inputstartDate" placeholder="2001-12-13" v-model="recordmember.startDate">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputisActive" class="col-sm-2 col-form-label">Active?</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputisActive" placeholder="Yes/No" v-model="recordmember.isActive">
                    </div>
                  </div>



                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Create Member Record</button>
                    </div>
                  </div>
                </form>


        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>memberID</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>dob</th>
              <th>gender</th>
              <th>radioNumber</th>
              <th>email</th>
              <th>position</th>
              <th>phoneNumber</th>
              <th>address</th>
              <th>startDate</th>
              <th>position</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in members">
              <td>{{ p.memberID }}</td>
              <td>{{ p.firstName }}</td>
              <td>{{ p.lastName }}</td>
              <td>{{ p.dob }}</td>
              <td>{{ p.gender }}</td>
              <td>{{ p.radioNumber }}</td>
              <td>{{ p.email }}</td>
              <td>{{ p.position }}</td>
              <td>{{ p.phoneNumber }}</td>
              <td>{{ p.address }}</td>
              <td>{{ p.startDate }}</td>
              <td>{{ p.isActive }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>


      </main>

      <footer class="row">
          <p>Oconee County Fire Rescue (OCFR) is a volunteer organization in Oconee County, GA.</p>
      </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="js/displayMembers.app.js"></script>

</body>
</html>
